@model IEnumerable<Exercice4.Models.Product>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exercice4</title>
    <link rel="stylesheet" href="~/css/FiltrerLesProduit.css" />
</head>
<body>
    <h2>Liste des produits</h2>

    @foreach (Product pr in Model)
    {
        <ul>
            <li><strong>Id:</strong> @pr.Id</li>
            <li><strong>Nom:</strong> @pr.Name</li>
            <li><strong>Catégorie:</strong> @pr.Category</li>
            <li><strong>Prix:</strong> @pr.Price €</li>
        </ul>
    }

    <h3>Filtres rapides</h3>
    <div class="lien1">
        <a asp-controller="Produit" asp-action="FiltrerLesProduit" asp-route-cat="Electronics" asp-route-MPrice="1500000">
            Afficher tous les produits Electronics
        </a>
    </div>

    <div class="lien2">
        <a asp-controller="Produit" asp-action="FiltrerLesProduit" asp-route-cat="Clothing" asp-route-MPrice="1500000">
            Afficher tous les produits Clothing
        </a>
    </div>

    <div class="lien3">
        <a asp-controller="Produit" asp-action="FiltrerLesProduit" asp-route-cat="Food" asp-route-MPrice="1500000">
            Afficher tous les produits Food
        </a>
    </div>

    <div class="lien4">
        <a asp-controller="Produit" asp-action="AfficherToutLesProduit">
            Afficher tout
        </a>
    </div>
</body>
</html>